body {
    width: 100%;
    margin: auto;
    background-color: rgb(22, 23, 26);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

.title-div {
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-right: 5%;
    border: solid 2px rgb(0, 180, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 180, 255);
    background-color: rgb(3, 155, 229);
}

.title-logo {
    width: 256px;
}

#clock {
    float: right;
    margin: 1% 1%;
    font-weight: bold;
}

.floating-div {
    width: 300px;
    right: 1%;
    top: 3%;
    position: fixed;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background-color: rgb(22, 23, 26, 0.9);
    /* border: solid 2px rgb(32, 33, 36); */
    border-bottom: solid 3px rgb(255, 0, 100);
    color: rgb(180, 180, 180);
    animation: right-to-left 1s linear;
}

@keyframes right-to-left {
    from {
        right: -50%;
    }
    to {
        right: 1%;
    }
}

.collapse-floating-div {
    animation: left-to-right 1s linear;
}

@keyframes left-to-right {
    from {
        right: 1%;
    }
    to {
        right: -50%;
    }
}

.alpha-div {
    width: 90%;
    margin: 5% 5%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-right: 5%;
    border: solid 2px rgb(32, 33, 36);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    background-color: rgb(53, 54, 58);
    display: flex;
}

.action-div {
    flex: 50%;
    border: solid 2px rgb(22, 23, 26);
    border-radius: 10px;
    background-color: rgb(32, 33, 36);
    margin: 1% 1%;
}

.tg-input {
    background-color: transparent;
    color: rgb(200, 200, 200);
    font-family: monospace;
    border: none;
    box-shadow: 0px 2px 0px rgb(3, 155, 229);
    width: 50%;
    outline: none;
    margin: 1% 1%;
}

.btn {
    background-color: rgb(3, 155, 229);
    color: rgb(255, 255, 255);
    border: solid 2px rgb(0, 180, 255);
    border-radius: 5px;
    font-size: 14px;
    margin: 2% 2%;
    cursor: pointer;
    transition: 300ms;
    padding: 5px;
}

.btn:hover {
    box-shadow: 0px 0px 10px rgb(0, 180, 255);
}

hr {
    width: 80%;
    opacity: 25%;
}

#message {
    width: 96%;
    height: 200px;
    background-color: rgb(22, 23, 26);
    color: rgb(200, 200, 200);
    border: solid 2px rgb(32, 33, 36);
    border-radius: 10px;
    outline: none;
    resize: vertical;
    margin: 1% 1%;
    padding: 5px;
}

.reaction-div {
    flex: 50%;
    border: solid 2px rgb(22, 23, 26);
    border-radius: 10px;
    background-color: rgb(32, 33, 36);
    margin: 1% 1%;
}

#log {
    width: 96%;
    height: 500px;
    background-color: rgb(22, 23, 26);
    color: rgb(200, 200, 200);
    font-family: monospace;
    border: solid 2px rgb(32, 33, 36);
    border-radius: 10px;
    outline: none;
    resize: vertical;
    margin: 1% 1%;
    cursor: help;
}

.credit {
    width: 90%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    margin-right: 5%;
    border: solid 2px rgb(22, 23, 26);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgb(0, 0, 0);
    background-color: rgb(32, 33, 36);
    color: rgb(180, 180, 180);
    font-family: monospace;
    text-align: center;
}

.my-name {
    color: rgb(0, 180, 255);
    animation: kameleon 10s infinite;
}

@keyframes kameleon {
    0% {
        color: rgb(0, 180, 255);
    }
    25% {
        color: rgb(255, 0, 0);
    }
    50% {
        color: rgb(153, 255, 0);
    }
    75% {
        color: rgb(0, 255, 242);
    }
    100% {
        color: rgb(3, 155, 229);
    }
}